<div class="media" id="comment-<%= comment.id %>">
  <% if comment.id != nil %>
    <div class="media-left media-top">
      <% if current_user.present? && comment.user_id == current_user.id %>
        <span class="vote glyphicon glyphicon-asterisk"></span>
      <% elsif current_user.present? && comment.user_id != current_user.id && current_user.voted_for?(comment) %>
        <%= link_to vote_comment_path(comment), method: :delete do %>
          <span class="vote glyphicon glyphicon-circle-arrow-down"></span>
        <% end %>
      <% elsif %>
        <%= link_to vote_comment_path(comment), method: :post do %>
          <span class="vote glyphicon glyphicon-circle-arrow-up"></span>
        <% end %>
      <% end %>
    </div>
    <div class="media-body">
      <div class="media-header">
      <%= link_to comment.user.name, comment.user%> <%= time_ago_in_words(comment.created_at)+" ago"%>
      </div>
      <div class="comment-text"><%= comment.text %></div>
      <div class="comment-reply">
        <%= link_to "Reply", "/comments/#{comment.id}" %>
      </div>
      
      <% if comment.comments.any? %>
        <div class="comments">
          <%= render comment.comments %>
        </div>
      <% end %>
    </div>
    
  <% end %>
</div>

