<% provide(:title, "#{@comment.user.name}") %>
<h2><%= @comment.text %></h2>

<div class="comment_info">
  <table class="table">
    <tr>
      <td><strong style="float:right;">Points:</strong></td>
      <td><%= @comment.get_upvotes.size %>
        <% if current_user.present? && @comment.user_id == current_user.id %>
          <span class="vote glyphicon glyphicon-asterisk"></span>
        <% elsif current_user.present? && @comment.user_id != current_user.id && current_user.voted_for?(@comment) %>
          <%= link_to vote_comment_path(@comment), method: :delete do %>
            <span class="vote glyphicon glyphicon-circle-arrow-down"></span>
          <% end %>
        <% elsif %>
          <%= link_to vote_comment_path(@comment), method: :post do %>
            <span class="vote glyphicon glyphicon-circle-arrow-up"></span>
          <% end %>
        <% end %>
      </td>
      <td><strong style="float:right;">By:</strong></td>
      <td><%= @comment.user.name %></td>
      <td><strong style="float:right;">Created:</strong></td>
      <td><%= time_ago_in_words(@comment.created_at)+" ago" %></td>
    </tr>
  </table>
  
  <div>
    <%= form_for(@comment.comments.new) do |f|%>
      <%= hidden_field_tag :type , 'comment' %>
      <div class="form-group">
      <%= f.text_area :text, class: "form-control" %>
    </div>
    <div>
      <%= f.submit "submit", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>

<% if @comment.comments.any? %>
<div class="comments">
  <%= render @comment.comments %>
</div>
<% end %>




