<% provide(:title, "#{@user.name}") %>
<div class="col-md-8">
  <table class="table">
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= @user.name %></td>
    <tr>
    <tr>
      <td><strong>Email:</strong></td>
      <td><%= @user.email %></td>
    <tr>
    <tr>
      <td><strong>Created:</strong></td>
      <td><%= time_ago_in_words(@user.created_at) %></td>
    <tr>

    <% if current_user.id == @user.id %>
      <tr>
        <td><strong>Api key:</strong></td>
        <td><%= @user.apikey %></td>
      </tr>
    <% end %>

    <tr>
      <td></td>
      <td>
        <%= link_to "Contributions", contributions_user_path, class: "btn btn-primary" %>
        <%= link_to "Voted Contributions", voted_contributions_user_path, class: "btn btn-primary" %>
      </td>
    </tr>
    <% if !current_user.nil? && @user.id == current_user.id %>
      <tr>
        <td></td>
        <td>
          <%= link_to "Comments", comments_user_path, class: "btn btn-success" %>
          <%= link_to "Voted Comment", voted_comments_user_path, class: "btn btn-success" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
