<li id="contribution-<%= contribution.id %>">

  <div class="title">
  <% if current_user.present? && contribution.user_id == current_user.id %>
    <span class="vote glyphicon glyphicon-asterisk"></span>
  <% elsif current_user.present? && contribution.user_id != current_user.id && current_user.voted_for?(contribution) %>
    <%= link_to vote_contribution_path(contribution), method: :delete do %>
      <span class="vote glyphicon glyphicon-circle-arrow-down"></span>
    <% end %>
  <% elsif %>
    <%= link_to vote_contribution_path(contribution), method: :post do %>
      <span  class="vote glyphicon glyphicon-circle-arrow-up"></span>
    <% end %>
  <% end %>
  
  <% if contribution.url.present? %>
    <%= link_to contribution.title, contribution.url, class: "url" %> <small class="from"> (<%=contribution.get_from%>)</small>
  <% else %>
    <%= link_to contribution.title, contribution, class: "url" %>
  <% end %>
  </div>

  <div class="content">
    <%= pluralize(contribution.get_upvotes.size, "points") %> by
    <span class="user"><%= link_to contribution.user.name, contribution.user %> </span>
    <span class="timestamp"><%= link_to time_ago_in_words(contribution.created_at)+" ago", contribution %></span> |
     <% if contribution.comments.size.zero? %>
      <span class="comments"><%= link_to "discuss", contribution %></span>
     <% else %>
      <span class="comments"><%= link_to pluralize(contribution.comments.size, " comments"), contribution %></span>
     <% end %>
  </div>

</li>
