<div>
  <% if flash[:alert] %>
  <div class= "alert"> <%=flash[:alert] %></div>
  <% end %>
<%= form_for(@contribution) do |f| %>
      <div class="form-group">
        <%= f.label :title, class: "col-sm-2"  %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :url, class: "col-sm-2"  %>
        <%= f.text_field :url, class: "form-control"  %>
      </div>
      <div class="col-sm-12 center"><strong>or</strong></div>
      <div class="form-group">
        <%= f.label :text, class: "col-sm-2" %>
        <%= f.text_area :text, class: "form-control" %>
      </div>
      <div>
        <%= f.submit "submit", class: "btn btn-primary" %>
      </div>
    <% end %>
</div>
