<% provide(:title, "#{@contribution.title}") %>
<h1><%= link_to @contribution.title, @contribution.url, class: "url" %> <% if @contribution.url.present? %><small class="from"> (<%= @contribution.get_from %>)</small><% end %></h1>

<div class="contribution_info">
  <table class="table">
    <tr>
      <td><strong style="float:right;">Points:</strong></td>
      <td><%= @contribution.get_upvotes.size %>
        <% if current_user.present? && @contribution.user_id == current_user.id %>
          <span class="vote glyphicon glyphicon-asterisk"></span>
        <% elsif current_user.present? && @contribution.user_id != current_user.id && current_user.voted_for?(@contribution) %>
          <%= link_to vote_contribution_path(@contribution), method: :delete do %>
            <span class="vote glyphicon glyphicon-circle-arrow-down"></span>
          <% end %>
        <% elsif %>
          <%= link_to vote_contribution_path(@contribution), method: :post do %>
            <span class="vote glyphicon glyphicon-circle-arrow-up"></span>
          <% end %>
        <% end %>
      </td>
      <td><strong style="float:right;">By:</strong></td>
      <td><%= @contribution.user.name %></td>
      <td><strong style="float:right;">Created:</strong></td>
      <td><%= time_ago_in_words(@contribution.created_at)+" ago" %></td>
    </tr>
  </table>
  <% if @contribution.ask %>
    <table class="table">
      <tr>
        <td class="col-xs-1"><strong style="float:right;">Text:</strong></td>
        <td class="col-xs-11"><%= @contribution.text %></td>
      </tr>
    </table>
  <% end %>
  
</div>

<div>
  <%= form_for (@contribution.comments.new) do |f| %>
    <%= hidden_field_tag :type , 'contribution' %>
    <div class="form-group">
      <%= f.text_area :text, class: "form-control" %>
    </div>
    <div>
      <%= f.submit "submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<br/>

<% if @contribution.comments.any? %>
<div class="comments">
  <%= render @contribution.comments %>
</div>
<% end %>




