@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */


/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* contributions */

.contributions {
  padding: 0;
  li {
    padding: 3px 0;
    border-top: 1px solid #e8e8e8;
    color: $gray;
    font-size: 0.8em;
  }
}

.url{
  font-size: 1.2em;
  text-decoration: none;
  color: black;
  font-weight: bold;
  &:hover {
    color: black;
  }
}

.from {
  text-decoration: none;
  color: $gray;
  &:hover {
    color: $gray;
  }
}

/* vote */

.vote {
  font-size: 1.1em;
  text-decoration: none;
  font-weight: bold;
}

/* contribution */

.contribution_info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* comments */

.comments {
  list-style-type: none;
  li {
    border-top: 1px solid #e8e8e8;
    color: $gray;
  }
}

/* comment*/

/* resize */

@media only screen and (max-width: 1199px) {
  .contribution_info{
    width: 75%;
  }
}

@media only screen and (max-width: 767px) {
  .contribution_info{
    width: 100%;
  }
}
