<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Hacker News", root_path, id: "logo" %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li <% if yield(:title).present? && yield(:title)=="Newest" %>
            class="active"
          <% end %>>
          <%= link_to "New", newest_path %>
        </li>
        <% if current_user.present?%>
          <li<% if yield(:title).present? && yield(:title) == "#{current_user.name}'s comments" %>
            class="active"
          <% end %>>
          <a href="/users/<%= current_user.id%>/comments">Thread</a>
          
        <% end %>
        <li<% if yield(:title).present? && yield(:title)=="Asked" %>
            class="active"
          <% end %>>
          <%= link_to "Ask", ask_path %></li>
        <li<% if yield(:title).present? && yield(:title)=="Submit" %>
            class="active"
          <% end %>>
          <%= link_to "Submit", submit_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.present? %>
          <li<% if yield(:title).present? && yield(:title)==current_user.name %>
            class="active"
            <% end %>>
            <%= link_to current_user.name, current_user%>
          </li>
          <li><%= link_to "SignOut", signout_path, id: "sign_out", class: "glyphicon glyphicon-log-out" %></li>
        <% else %>
          <li><%= link_to "LogIn", "/auth/google_oauth2", id: "sign_in", class: "glyphicon glyphicon-log-in" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
